// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;





   .my-container{
          
        background-image:-webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
         margin:30px;
         }

    

        .my-row {
            border: 3px solid red;
           
        }

        .my-col {
            border: 3px solid blue;
        }

        .fa{
           font-size:60px;
                
           }



/* SHOWCASE */

.caption  {
    width:100%;
    max-width:100%;
    position:absolute;
    top:38%;
    color:white;
    z-index: 1;
    text-transform: uppercase;
}


.caption h1{
    font-size:2.6rem;
    font-weight: 700;
    padding-bottom:1rem;
    letter-spacing: 0.3rem;
    text-shadow: 0.1rem 0.1rem 0.8rem;
}

.caption h3{
    font-size:1.8rem;
    
    padding-bottom:1.3rem;
    
    text-shadow: 0.1rem 0.1rem 0.5rem black;
}
/*MEDIA QUERIES*/
@media (max-width: 767px)
{
    
    .caption h1{
    font-size:2rem;
    padding-bottom:0.5rem;
    letter-spacing: 0.15rem;
    
}

.caption h3{
    font-size:1.2rem;
    padding-bottom:1.2rem;
    
    
}
    
}

/*SHOWCASE*/


/*feature underline*/
.heading{
    
    
      padding-bottom:1rem; 
}
.heading-underline{
    width: 2rem;
    height: 0.3rem;
    background-color: #fdb811;
    margin: 0 auto 2rem;
   padding-bottom:.15rem; 
  
  
}
/*testimonial*/

.testirow{
            width:100%; 
                
                 border-radius: 50%;
    
}

blockquote{
    margin:0.5rem;
    
.fa
    {
    font-size:20px; 
    margin-right:0.8rem;
    }
    
}

.testi{
    padding-top: 0.15rem;
    background-color:#40E0D0;
    
}

/*testimonial*/